<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Save The Kingdom</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave|Permanent+Marker" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  {% load static %} 
  <link rel="stylesheet" href="{% static 'styles.css' %}">

  {% block js %}{% endblock %}
</head>

  <body id={{bodyid}}>
    {% block navbar %}
      <nav class="navbar navbar-inverse" style="margin-bottom: 0">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'story' %}">  Save The Kingdom  </a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'story' %}">Home</a></li>
            <li><a href="{% url 'mission' %}">Mission</a></li>
            <li><a href="{% url 'my-wanderers' %}">My Wanderers</a></li>
            <li><a href="{% url 'wall'%}">Wall of Wanderers</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            
              <li><a href="#"><span class="glyphicon glyphicon-user"></span>User: {{ user.get_username }}</a></li>
              <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>   
            {% else %}
            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span>Sign up</a></li>
              <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>   
            {% endif %} 
          </ul>
        </div>
      </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}
  </body>

</html>