{% extends "base_generic.html" %}
{% load static %} 
{% block content %}


    <div class="scroller">
        <div class="page page1">
            <h1 class="titles text-center">Heroes | Losers</h1>
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>

        <div class="page page2">
            <h1 class="titles text-center">Heroes of Xeek's Past!</h1><br><br>
            <div class="container">
                {% if allHeroes %}
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Nickname</th>
                            <th>Status</th>
                            <th>Quote/Story</th>
                            <th>Guide</th>
                        </tr>
                        {% for wand in allHeroes %}
                        <tr>
                            <td>{{ wand.id}}</td>
                            <td>{{ wand.name}}</td>
                            <td>{{ wand.get_status_display}}</td>
                            <td>{{ wand.comment}}</td>
                            <td>{{ wand.guide}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                {% else %}
                    <br><br>
                    <h3 class="titles text-center">No Heroes.. yet!</h3>
                {% endif %}
            </div>
        </div>

        <div class="page page3">
            <h1 class="titles text-center">Losers of Xeek's Past!</h1> <br><br>
            <div class="container">
                    {% if allLosers %}
                        <table class="table table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Nickname</th>
                                <th>Status</th>
                                <th>Quote/Story</th>
                                <th>Guide</th>
                            </tr>
                            {% for wand in allLosers %}
                            <tr>
                                <td>{{ wand.id}}</td>
                                <td>{{ wand.name}}</td>
                                <td>{{ wand.get_status_display}}</td>
                                <td>{{ wand.comment}}</td>
                                <td>{{ wand.guide}}</td>
                            </tr>
                            {%endfor%}
                        </table>
                    {% else %}
                        <br><br>
                        <h3 class="titles text-center">No Losers.. yet!</h3>
                    {% endif %}
            </div>
        </div>
    </div>

    <script> 
        lCount = Number.parseInt('{{lCount}}')
        hCount = Number.parseInt('{{hCount}}')
    </script>

    <script src="{% static 'js/hlChart.js' %}"></script>

{% endblock %}