{% extends "base_generic.html" %}

{% block content %}
    <h1 class="titles text-center">Your Wanderers </h1> <br><br>
    
    <div class="container-fluid">
        {% if wanderers_list %}
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Nickname</th>
                    <th>Status</th>
                    <th>Quote/Story</th>
                    <th>Guide</th>
                </tr>
                {% for wand in wanderers_list %}
                <tr>
                    <td>{{ wand.id}}</td>
                    <td>{{ wand.name}}</td>
                    <td>{{ wand.get_status_display}}</td>
                    <td>{{ wand.comment}}</td>
                    <td>{{ wand.guide}}</td>
                </tr>
                {%endfor%}
            </table>
        {% else %}
            <br><br>
            <h3 class="titles text-center">You have no wanderers.</h3>
        {% endif %}
    </div>
{% endblock %}


